# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

/.idea/
.idea/
node_modules/
target
dist
logs
public
.cache
.vscode
.DS_Store
.idea
.next
yarn-error.log
npm-debug.log
